{% extends 'base_profile.html' %}

{% block bottom_data %}
    <div class="post-grid-container">
        {% for post in user.post_set.all %}
            {% if post.postimage_set.first and post.postimage_set.first.photo %}
                <div class="post-grid">
                    <a href="{% url 'posts:post_detail' post_id=post.id %}">
                        <img src="{{ post.postimage_set.first.photo.url }}" alt="">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}