{% extends 'base.html' %}
{% block content %}
    {% include 'posts/nav.html' %}
    <div id="tags">
        <header class="tags-header">
            <h2>#{{ hashtag_name }}</h2>
            <div>Posts {{ posts.count }}</div>
        </header>
        <div class="post-grid-container">
            {% for post in posts %}
                <!-- Post에 연결된 이미지가 있고, 첫번째 이미지가 존재하는 경우 -->
                {% if post.postimage_set.first and post.postimage_set.first.photo %}
                    {% include 'posts/tags.html' %}
                {% endif %}
            {% empty %}
                <p>No Posts</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}